/* Light/dark theme aware transparency */

:root[lwt-tab-selected="dark"] #browser {
  --zen-main-browser-background: rgba(30, 30, 30, 0.85) !important;
}

:root[lwt-tab-selected="light"] #browser {
  --zen-main-browser-background: rgba(249, 249, 249, 0.85) !important;
}

:root { --zen-themed-toolbar-bg-transparent: transparent !important; }